@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: linear-gradient(180deg, #2b2d42 0%, #000000 90%);
		--foreground: #edf2f4;
		scroll-behavior: smooth;
		scrollbar-width: none;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: linear-gradient(180deg, #ffffff 0%, #dd4242 200%);
		--foreground: #000000;
		scroll-behavior: smooth;
		scrollbar-width: none;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
